name: testingfr#79
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest ]       
    steps:

     - name: Simulate pip restriction
       run: |
          echo -e "[global]\nbreak-system-packages = false" | sudo tee /etc/pip.conf

     
     - name: Checkout code
       uses: actions/checkout@v4 
     - name: Set up python
       uses: actions/setup-python@v6
       with:
      
            python-version:  '3.11'
            cache: pip
            cache-dependency-path: temp/equirements.txt 
            pip-install: -r temp/requirements.txt
