name: testingfr#79
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest ]       
    steps:

     - name: Temporary pip workaround (skip on Ubuntu 24)
       if: ${{ !contains(runner.image, 'ubuntu24') }}
       run: |
           echo -e "[global]\nbreak-system-packages = true" | sudo tee /etc/pip.conf
     - name: Checkout code
       uses: actions/checkout@v4 
     - name: Set up python
       uses: actions/setup-python@v6
       with:
      
            python-version:  '3.11'
            cache: pip
            cache-dependency-path: requirements.txt 
            pip-install: -r requirements.txt
