name: testingfr#79
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest ]       
    steps:

     - name: Temporary pip workaround (skip on Ubuntu 24)
       if: ${{ !contains(runner.image, 'ubuntu24') }}
       run: |
           echo -e "[global]\nbreak-system-packages = true" | sudo tee /etc/pip.conf

     - name: Check for workaround in pip.conf
       run: |
           if grep -q "break-system-packages = true" /etc/pip.conf; then
             echo "Workaround is present in pip.conf."
           else
             echo "Workaround is NOT present in pip.conf."
           fi
     - name: Checkout code
       uses: actions/checkout@v4 
     - name: Set up python
       uses: actions/setup-python@v6
       with:
      
            python-version:  '3.11'
            cache: pip
            cache-dependency-path: temp/equirements.txt 
            pip-install: -r temp/requirements.txt
