name: testingfr#79
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]       
    steps:
      - name: Checkout code
        uses: actions/checkout@v5 
      - name: Set up python
        uses: actions/setup-python@v6
        with:
      
            python-version:  '3.11'
            cache: pip
            cache-dependency-path: temp/requirements.txt 
            pip-install: -r temp/requirements.txt
